

#page--header {
  --header--width: 100%;
  width: var(--header--width);
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  & .header--wrapper {
    --wrapper--border: 2px solid black;
    padding: 0.25em;
    border: var(--wrapper--border);
    & .header--text {
      --header--text--fs: 1.2em;
      font-size: var(--header--text--fs);
    }
  }
  .banner {
    width: 100%;
    padding-left: 0.25em;
    .banner--image {
      height: 85px;
      width: 100%;
      background-size: cover;
    }
  }
}
