@import "./layout/_.css"; 
@import "./pages/_.css";



.main-container {
  --main--size: 100%;
  width: var(--main-size);
  height: var(--main-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


