.grid {
  --grid--cols: 200px 200px 200px;
  --mobile--grid--cols: calc(--grid--cols) / 2)
  display: grid;
  grid-template-columns: var(--grid--cols);
  grid-template-columns: if(media(max-width < var(--mobile)) 
    var(--mobile--grid--cols)
  i);
}

.list { 
  list-style-type: none; 
  padding: 0 
};

.list:not(.inline) {
  display: flex;
  flex-direction: column;
  & li {
    margin: 0;
  }
}

.link {
  font-family: var(--f-pop);
}

.link:is(.nav-link) {
  font-size: 1.2em;
  font-weight: 500;
}

.link:not(.nav-link) {
  font-size: 1.4em;
  color: inherit;
}


.card:not(.large) {
  --card--pad: 1.8em;
  --card--rad: calc(var(--card--pad) / 4);
  display: flex;
  flex-direction: column;
  padding: var(--card--pad);
  border-radius: var(--card--rad);
  border: var(--b-sm) solid var(--text);
}

