@import "_variables.css";
@import "_base.css";
@import "_layout.css";
@import "_class.css";


:root {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--fonts);
  font-size: var(--size);
  font-weight: var(--weight);
  line-height: var(--line);
}

.heading { 
  --heading--weight: calc(var(--weight) * 2);
  font-weight: var(--heading--weight);
}

.page {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--page-pad);
}


#products {
  list-style-type: none;
  justify-content: center;
  border: 6px double black;
  padding: 1em;
  width: 100%;
  gap: 1.5em;
}
